:root {
    font-family: sans-serif;
    --block-side: 7vmin;
    --board-n: 10;
    --block-bg: gray;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
    height: 98vh;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* :START: MENU STYLING */

.menu__ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__p {
    margin: 0;
    min-width: 12vw;
    padding: 0.25rem;
    padding-left: 0.75rem;
    position: relative;
    background-color: var(--bg-color, beige);
    color: var(--txt-color, black);
    cursor: pointer;
    border-radius: 3px;
}

.menu__p:hover {
    box-shadow: var(--shadow-color, gray) 1px 1px 5px;
    left: 5%;
}

.menu__p:active {
    background-color: #969696;
    color: white;
}

.menu__p--first {
    --bg-color: gray;
    --txt-color: white;
    padding-left: 00.25rem;
    text-align: center;
}

.menu__p--first:hover {
    --shadow-color: white;
}

.menu__li {
    position: relative;
}

.menu__li:hover > .menu__ul {
    display: block;
}

/* :END: MENU STYLING */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__text {
    margin: 0.25em;
    text-align: center;
}

.title__legend {
    font-size: 0.5rem;
    font-style: italic;
    text-align: center;
}

.board {
    display: inline-grid;
    position: relative;
    grid-template: repeat(var(--board-n), var(--block-side)) / repeat(var(--board-n), var(--block-side));
    gap: 0.5vw 0.5vh;
    box-sizing: content-box;
    padding: 0.5vw 0.5vh;
    z-index: -1;
    grid-auto-rows: 0;
    grid-auto-columns: 0;
}

.board__start-btn {
    position: absolute;
    background-color: hsl(60deg, 100%, 90%);
    left: 35%;
    top: 45%;
    width: 30%;
    height: 10%;
    border: 1px solid #969696;
    border-radius: 10px;
    font-size: 1.5rem;
}

.board__block, .apple {
    background-color: var(--block-bg);
}

.snake-block, .snake-head {
    background-color: var(--block-bg);
    transition: translate ease;
}

.control-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.control-btn {
    --bg-hue: 120;
    color: white;
    background-color: hsl(var(--bg-hue), 100%, 50%);
}

.control-btn--restart {
    --bg-hue: 0;
}

.control-btn--disabled {
    background-color: hsl(var(--bg-hue), 100%, 80%);
}

.direction-panel {
    display: grid;
    grid-template: repeat(3, 3vmin) / repeat(3, 3vmin);
}

.direction-btn {
    grid-row: var(--grid-row, 1);
    grid-column: var(--grid-column, 2);
}

.direction-btn--right {
    --grid-row: 2;
    --grid-column: 3;
}

.direction-btn--down {
    --grid-row: 3;
    --grid-column: 2
}

.direction-btn--left {
    --grid-row: 2;
    --grid-column: 1;
}