:root {
    font-family: sans-serif;
    --block-side: 7vmin;
    --board-n: 10;
    --block-bg: gray;
    --border-r: 3px;
    --ctrl-panel-spacing: 0.5vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
    height: 98vh;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* :START: MENU STYLING */

.menu__ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__p {
    margin: 0;
    min-width: 12vw;
    padding: 0.25rem;
    padding-left: 0.75rem;
    position: relative;
    background-color: var(--bg-color, #fafafa);
    color: var(--txt-color, black);
    cursor: pointer;
    border-radius: var(--border-r);
}

/* I don't know how to make this work properly */
.menu__p:not(.menu__p--first):hover::after {
    content: none;
    background-color: beige;
    width: 100%;
}

.menu__p:hover {
    box-shadow: var(--shadow-color, gray) 1px 1px 5px;
    left: 5%;
}

.menu__p:active {
    background-color: #969696;
    color: white;
}

.menu__p--first {
    --bg-color: gray;
    --txt-color: white;
    padding-left: 00.25rem;
    text-align: center;
    border-left: none;
}

.menu__p--first:hover {
    --shadow-color: white;
}

.menu__li {
    position: relative;
}

.menu__li:hover > .menu__ul {
    display: block;
}

/* :END: MENU STYLING */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__text {
    margin: 0.25em;
    text-align: center;
}

.title__legend {
    font-size: 0.5rem;
    font-style: italic;
    text-align: center;
}

.board {
    display: inline-grid;
    position: relative;
    gap: 0.5vmin;
    box-sizing: content-box;
    padding: 0.5vw 0.5vh;
    z-index: -1;
    grid-auto-rows: 0;
    grid-auto-columns: 0;
}

.board__start-btn {
    position: absolute;
    background-color: hsl(60deg, 100%, 90%);
    left: 35%;
    top: 45%;
    width: 30%;
    height: 10%;
    border: 1px solid #969696;
    border-radius: 10px;
    font-size: 1.5rem;
}

.board__block, .apple {
    background-color: var(--block-bg);
}

.snake-block, .snake-head {
    background-color: var(--block-bg);
    transition: translate ease;
}

.control-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.control-btn {
    --bg-hue: 210;
    color: white;
    background-color: hsl(var(--bg-hue), 100%, 50%);
    border: 1px solid hsl(var(--bg-hue), 100%, 30%);
    border-radius: var(--border-r);
    cursor: pointer;
    height: 5vh;
    width: 15vmin;
    margin: var(--ctrl-panel-spacing) 0;
}

.control-btn:not(.control-btn--disabled):hover {
    background-color: hsl(var(--bg-hue), 100%, 40%);
}

.control-btn:not(.control-btn--disabled):active, .control-btn:not(.control-btn--disabled):focus-visible {
    outline: 2px auto hsl(var(--bg-hue), 100%, 40%);
}

.control-btn--start {
    font-size: large;
    margin-top: calc(8 * var(--ctrl-panel-spacing));
}

.control-btn--pause {
    --bg-hue: 120;
}

.control-btn--restart {
    --bg-hue: 0;
}

.control-btn--disabled {
    background-color: hsl(var(--bg-hue), 100%, 80%);
    cursor: default;
}

.direction-panel {
    display: grid;
    grid-template: repeat(3, 5vmin) / repeat(3, 5vmin);
    margin-top: calc(7 * var(--ctrl-panel-spacing));
}

.direction-btn {
    grid-row: var(--grid-row, 1);
    grid-column: var(--grid-column, 2);
    border-radius: var(--border-r);
    border: 1px solid #969696;
    cursor: pointer;
}

.direction-btn:hover {
    background-color: #969696;
}

.direction-btn--right {
    --grid-row: 2;
    --grid-column: 3;
}

.direction-btn--down {
    --grid-row: 3;
    --grid-column: 2
}

.direction-btn--left {
    --grid-row: 2;
    --grid-column: 1;
}